{% extends 'base.html.twig' %}

{% block title %}Importer une image{% endblock %}

{% block body %}

<div class="container">
    <h1>Importation d'image</h1>

    {{ form(formulaire) }}
</div>
{% endblock %}
