{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
        <h1>Bienvenue</h1>
    {% else %}
        <h1>Bienvenue {{ app.user.username }}</h1>
    {% endif %}

    <p>Ceci est votre page d'accueil.</p>


    {% if not app.user %} <!-- Partie visible hors connexion -->
        <p>Connecter vous ou inscrivez vous pour recevoir du contenu ici.</p>
    {% else %} <!-- Partie visible pendant connexion -->
        <p>Vous pourrez bientôt avoir des informations ici.</p>

        {{ render(controller("App\\Controller\\HomeController::chercherPhotos")) }}
    {% endif %}
{% endblock %}
