{% if images is not null and images is defined and images|length > 0 %}
    {% for image in images %}
        <a href="{{ path('display_image', {id: image.id}) }}">
            <img class="grilleImage radiant" src="{{ path('afficher_image', {nom: image.name}) }}"/>
        </a>
    {% endfor %}
{% endif %}