{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <style>
        h1 {
            position: absolute;
            left: 30%;
            top: 45%;
        }
    </style>

    <h1>Erreur 404 : Aucune image trouvée...</h1>
{% endblock %}
