{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <style>
        h1 {
            position: absolute;
            left: 30%;
            top: 45%;
            color: white;
        }
    </style>

    <h1>L'auteur n'a pas rendu cette image publique</h1>
{% endblock %}
