{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <img src="{{ path('afficher_image', {nom: nom}) }}" />
    <div id="contenu">
        <h1>Auteur : {{ auteur }}</h1>

        {% if proprietaire %}
            <div class="zonePublique">
                <h2>Visibilité : <a class="btn" href="{{ path('visibility_image', {id: id}) }}">

                {% if public %}
                        Cliquer pour rendre privée
                {% else %}
                        Cliquer pour rendre publique
                {% endif %}

                </a><a href="{{ path('delete_image', {id: id}) }}" class="btn">Supprimer</a></h2>
            </div>
        {% endif %}

    </div>
{% endblock %}
